:root {
    --headingFont: 'Ubuntu', sans-serif;
    --paragraphFont: 'Titillium Web', sans-serif;
    --dark: #282a2c;
    --light: #f0e4d9;
    --main: #00a9a5;
    --accent-1: #008000ff;
    --accent-2: #dc4541ff;
}

/* 
==== GLOBAL ====
 */

* {
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
    font-kerning: auto;
} 

body {
    position: relative;
    height: 100vh;
    margin: 0;
    background: var(--light);
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: var(--dark);
    overflow: hidden
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
    line-height: 1.75;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

.container {
    padding: 1rem 2rem;
}

.inline-negated {
    padding: 0rem 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--accent-2);
    color: var(--light)
}

.inline-accepted {
    padding: 0rem 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--accent-1);
    color: var(--light)
}

/* 
==== / ====
*/

/* 
==== LANDING ====
*/

.landing {
    height: 100%;
}

.background-SVG {
    position: absolute;
    width: 100%;
    image-rendering: optimizeQuality;
    opacity: 50%;
    z-index: -1;
}

/* Top */

.landing-top {
    height: 25%;
    background-color: var(--dark); 
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
    color: var(--light);
    text-align: center;
}

.container.lt {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.recycled {
    background-color: var(--accent-1);
    padding: 1rem;
    border-radius: 1rem;
}

/* Bottom */

.landing-bottom {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75%;
}

.instructions {
    position: absolute;
    display: flex;
    height: 7rem;
    max-width: 10%;
    top: 0;
    left: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: var(--light);
    cursor: pointer;
    overflow: hidden;
}

.instructions-content {
    padding: 0 0.5rem;
    opacity: 0%;
}

.instructions-symbol {
    position: absolute;
    font-size: 5vmax;
    opacity: 100%;
}

.recycle-wheel {
    position: relative;
    display: flex;
    height: 70%;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
}

.lb-background {
    position: absolute;
    height: 0rem;
    width: 0rem;
    border-radius: 50%;
    border: 4rem solid var(--light);
    mix-blend-mode: overlay;
    z-index: -1;
}

.recycle-wheel #interactive-recycle {
    position: relative;
    overflow: visible;
}

#interactive-recycle g, #interactive-recycle g path {
    transform-origin: center center;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

#interactive-recycle g:hover path {
    fill: var(--main);
}

#Allegheny-County-logo {
    position: absolute;
    height: 25%;
    transform: translateY(-10%);
    z-index: 1;
}

/* 
==== / ====
*/

/* 
==== POPUP MODALS ====
*/

.modal {
    position: absolute;
    display: flex;
    height: 0;
    width: 100%;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

.modal-overlay {
    height: 0%;
    width: 100%;
    bottom: 0;
    background-color: var(--dark);
    opacity: 0;
    pointer-events: none;
    z-index: 4;
}

.modal-container {
    position: absolute;
    display: grid;
    height: 0%;
    width: 85%;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr 10%;
    align-items: center;
    padding: 2rem 4rem;
    border-radius: 1rem;
    background-color: var(--light);
    opacity: 0%;
    pointer-events: all;
    overflow: hidden;
    z-index: 5;
}

#modal-exit {
    height: 50%;
    grid-area: 1 / 3;
    align-self: center;
    justify-self: right;
    cursor: pointer;
}

#modal-exit * {
    transition: fill 250ms ease-in-out;
}

#modal-exit:hover #modal-exit-s-ellipse1 {
    fill: #282a2c;
}

#modal-exit:hover #modal-exit-s-g1 * {
    stroke: #f0e4d9;
}

.modal-header {
    position: relative;
    grid-area: 1 / 1;
}

.modal-header::after {
    content: "";
    position: absolute;
    height: 85%;
    bottom: 0;
    left: -1rem;
    border: 0.25rem solid var(--accent-1);
    border-radius: 1rem;
}

.modal-content {
    align-self: flex-start;
    grid-area: 2 / 1;
}

.modal-image {
    width: 20vmax;
    justify-self: right;
    grid-area: 2 / 2;
    opacity: 0%;
}

/* 
==== / ====
*/

/* 
==== FOOTER ====
*/

footer {
    position: absolute;
    display: flex;
    bottom: 0;
    align-items: center;
    justify-content: center;
    height: 4%;
    width: 100%;
    background-color: var(--dark);
    color: var(--light);
    z-index: 5;
}

/* 
==== / ====
*/